<footer class="site-footer" id="colophon">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4"><img src="/images/placeholder.png" alt="" /></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 footer-widget">
                <aside class="widget widget_text">
                    <div class="textwidget">
                        The point of using Lorem Ipsum is that it has a more or less normal distribution of letters, as
                        opposed to
                        using
                        'Content here, content here', making it look like readable English.
                    </div>
                </aside>
                <aside class="widget socialmedia-widget">
                    <ul class="social">
                        <li><a href="home-1.html#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="home-1.html#"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="home-1.html#"><i class="fa fa-linkedin-square"></i></a></li>
                        <li><a href="home-1.html#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="home-1.html#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="home-1.html#"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-xs-12 col-sm-4 footer-widget">
                <aside class="widget widget_nav_menu">
                    <ul class="menu">
                        <li><a href="home-1.html#">Home</a></li>
                        <li><a href="home-1.html#">Shortcodes</a></li>
                        <li><a href="home-1.html#">about US</a></li>
                        <li><a href="home-1.html#">Blog</a></li>
                        <li><a href="home-1.html#">classes</a></li>
                        <li><a href="home-1.html#">Contact US</a></li>
                        <li><a href="home-1.html#">Teachers</a></li>
                        <li><a href="home-1.html#">Privacy Policy</a></li>
                        <li><a href="home-1.html#">Events</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-xs-12 col-sm-4 footer-widget">
                <aside class="widget newsletter-widget">
                    <h3>Sign up now</h3>
                    <p>When an printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <form id="newsletter">
                        <input type="email" name="email" class="form-control" placeholder="Email" />
                        <button type="submit" value="" class="btn btn-orange btn-medium"><i
                                class="lnr lnr-arrow-right"></i></button>
                    </form>
                </aside>
            </div>
        </div>
    </div>

    <!--div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="copyright">

                    <p class="develop col-xs-12 col-sm-4 text-right"><a target="_blank"
                            href="https://www.templateshub.net">Templates Hub</a> </p>
                </div>
            </div>
        </div>
    </div-->
</footer>